*{
    box-sizing: border-box;
}

#main
{
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.container
{
    display: none;
}
img
{
    vertical-align:middle;
    border-radius: 10px;
}
.number
{
    font-size: 16px;
    position: absolute;
    top: 2px;
    left: 5px;
    color: white;
}
.caption
{
    font-size: 18px;
    font-family: sans-serif;
    width: 100%;
    position: absolute;
    bottom: 8px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.slideshow {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}