

.layout{
  width: 1200px;
  height: 610px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 5%;

}
.header{
  width: 100%;
  height:8%;
  padding-top: 7px;

background: rgba(82,129,239,1);
background: -moz-linear-gradient(-45deg, rgba(82,129,239,1) 18%, rgba(82,129,239,1) 38%, rgba(36,85,235,1) 73%, rgba(36,85,235,1) 79%);
background: -webkit-gradient(left top, right bottom, color-stop(18%, rgba(82,129,239,1)), color-stop(38%, rgba(82,129,239,1)), color-stop(73%, rgba(36,85,235,1)), color-stop(79%, rgba(36,85,235,1)));
background: -webkit-linear-gradient(-45deg, rgba(82,129,239,1) 18%, rgba(82,129,239,1) 38%, rgba(36,85,235,1) 73%, rgba(36,85,235,1) 79%);
background: -o-linear-gradient(-45deg, rgba(82,129,239,1) 18%, rgba(82,129,239,1) 38%, rgba(36,85,235,1) 73%, rgba(36,85,235,1) 79%);
background: -ms-linear-gradient(-45deg, rgba(82,129,239,1) 18%, rgba(82,129,239,1) 38%, rgba(36,85,235,1) 73%, rgba(36,85,235,1) 79%);
background: linear-gradient(135deg, rgba(82,129,239,1) 18%, rgba(82,129,239,1) 38%, rgba(36,85,235,1) 73%, rgba(36,85,235,1) 79%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5281ef', endColorstr='#2455eb', GradientType=1 );

  text-align: center;
  font-size: 32px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  border-radius: 10px;
  box-sizing: border-box;
  text-shadow: 3px 1px 3px  #0066ff;
  box-shadow: -1px -1px 10px 1px #003399;
}
.container{
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.fils{
  width: 100%
  height:590px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
padding-top: 50px;
padding-left: 40px;
}
.form{
  width: 100%;
  height: 390px;

}
.item1,.item2{
  width: 50%;
  height: 400px;
}
input:not([type=radio]), .datalist ,.radio{
  width:70%;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  border:1px solid gray;
  margin-left:80px;
  margin-bottom: 20px;
  font-size: 16px;
  -webkit-transition:all .5s ;
}
.radio{
display: flex;
flex-direction: row;
justify-content: center;
align-content: center;
align-items: center;
border: hidden;
}
.input{
  border-radius: 12px;
  border-color: #0066ff;
  outline: none;
  box-shadow: 0 0 5px 1px #758dc9;
  -webkit-transition:all .5s;
}


.sub [type="submit"]{
  width: 100px;
  height: 30px;
background: rgba(101,143,241,1);
background: -moz-linear-gradient(45deg, rgba(101,143,241,1) 0%, rgba(50,96,236,1) 18%, rgba(50,96,236,1) 72%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(101,143,241,1)), color-stop(18%, rgba(50,96,236,1)), color-stop(72%, rgba(50,96,236,1)));
background: -webkit-linear-gradient(45deg, rgba(101,143,241,1) 0%, rgba(50,96,236,1) 18%, rgba(50,96,236,1) 72%);
background: -o-linear-gradient(45deg, rgba(101,143,241,1) 0%, rgba(50,96,236,1) 18%, rgba(50,96,236,1) 72%);
background: -ms-linear-gradient(45deg, rgba(101,143,241,1) 0%, rgba(50,96,236,1) 18%, rgba(50,96,236,1) 72%);
background: linear-gradient(45deg, rgba(101,143,241,1) 0%, rgba(50,96,236,1) 18%, rgba(50,96,236,1) 72%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#658ff1', endColorstr='#3260ec', GradientType=1 );
outline: none;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  margin-left: 120px;
  -webkit-transition:all .3;
}
.sub [type="submit"]:hover{
  width: 110px;
  height: 32px;
  box-shadow: 1px 2px 4px 1px #758dc9;
  font-size: 18px;


}
.input:invalid{
  border: 1px solid red;
  box-shadow: 0 0 5px 1px #ff0808;
}
.input:focus{
  border-radius: 12px;
  border-color: #0066ff;
  outline: none;
 box-shadow: 1px 2px 7px 2px #758dc9;
/*box-shadow: 0 0 7px 2px #758dc9;*/
width: 71.5%;
height: 55px;
font-size: 20px;

}
.datalist:focus{
 width:70%;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  border:1px solid gray;
  margin-left:80px;
  margin-bottom: 20px;
  font-size: 16px;
}


@media only screen and (max-width:768px) {
  .layout{
    display:block;
    }
  .header{

    width: 400px;
    height: auto;
    margin-left: 50px;
        }
  .container{
    display:block;
    width: 760px;
    height: auto;

}
}
@media only screen and (max-width:768px){
  .fils{
    display: block;

    width: 750px;
    height: auto;
  }
    .item2{
      margin-top: -45px;
    }
    .sub{
      margin-top: -45px;
    }
}

