.GridTemplate{
display: grid;
grid-gap: 5px 10px;
border:1px solid black;
border-radius: 10px;
grid-template-areas: 'h h h h h h h h'
                     'a a a a a a a a'
                     'm m c c c c c ad'
                     'm m c c c c c ad'
                     '. .c c c c c .'
                     '. .c c c c c .'
                     '. .c c c c c .'
                     'ab ab ab ab ab ab ab ab'
                     'f f f f f f f f';
}

.header{
/*  grid-area:1 / 1 /span 1/ span 8;*/
grid-area:h;
height: 60px;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
  background-color: #33ccff;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}
.TopAds{
  /*grid-area:2/1/span 1/span 8;*/
  grid-area:a;
height: 100px;

  background-color: #33ccff;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}
.menu{
/*grid-area:3/1/span 2/span 2;
grid-template-rows: 300px 300px;*/
grid-area:m;
  background-color: #33ccff;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  height: 200px;
}
.container{
/*  grid-area: 3/3/ span 2/span 4;
height: 500px*/
height: 1000px;
grid-area:c;
  background-color: #33ccff;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}
.SideAds{
/*  grid-area:3/7/ span 2/span 2;
height: 200px;*/
grid-area:ad;
  background-color: #33ccff;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}
.BottomAds{
/*  grid-area:5/1/span 1/span 8;*/
grid-area:ab;
height: 100px;
  background-color: #33ccff;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}
.footer{
/*  grid-area:6/1/span 1/span 8;*/
height: 200px;
grid-area:f;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #33ccff;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}
